.home-first-block{
    display: flex;
    width: 90vw;
    height: 600px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.home-first-block-item{
    flex: 1;
    height: 100%;
}

/* FORMATAÇÃO DA IMAGEM PRINCIPAL */

.home-first-block-item img{
    margin-top: 10px;
    width: 680px;
    height: 570px;
}

/* FORMATAÇÃO DO TITULO */

.home-first-block-item h2{
    color: #130353;
    font-size: 62px;
    text-align: left;
    position: relative;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-left: 55px;
}

/* FORMATAÇÃO DO PRIMEIRO TEXTO DA PAG -- LOGO A BAIXO DO TITULO */

.home-first-block-item p{
    margin-top: 30px;
    margin-left: 55px;
    color: var(--button-title-color);
    font-size: 18px;
    text-align: left;
}

/* PRIMEIRO BOTAO  */

.boton-home {
    margin-left: 80px;
    margin-top: 20px;
    float: left;
	background-color: var(--button-title-color);
	border-radius:29px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:13px 56px;
	text-decoration:none;
	text-shadow:0px 1px 0px #010235;
}
.boton-home:hover {
    transition: 0.5s;
    z-index: 5;
	background-color:#010235;
}
.boton-home:active {
	position:relative;
	top:1px;
}

/* SEGUNDO BOTAO -- AO LADO DO PRIMEIRO */

.botao-home-two {
    margin-left: 30px;
    margin-top: 25px;
    float: left;
	box-shadow:inset 0px 1px 0px 0px #ffffff00;
	background-color:#44c76700;
	border-radius:17px;
    text-transform: bold;
	cursor:pointer;
	color: var(--button-title-color);
	font-size: 18px;
	padding:10px 28px;
	text-decoration:none;
}
.botao-home-two:hover {
	background-color:#e2ceffa8;
    transition: 0.5s;
    z-index: 5;
}
.botao-home-two:active {
	position:relative;
	top:1px;
}

/* TEXTO A BAIXO DOS BOTAO  */

.home-first-text-app p{
    margin-top: 110px;
    margin-left: 55px;
    color: #130353;
    font-size: 15px;
    text-align: left;
}

/* IMAGENS APPS */

.home-first-app .img-apple{
    width: 90px;
    height: 80px;
    margin-left: 55px;
    float: left;
  }

/* TEXTO A BAIXO DA IMAGEM */

.home-first-app .img-play-store {
    width: 80px;
    height: 70px;
    margin-top: 16px;
    margin-left: 55px;
    float: left;
  }

/* PRIMEIRA FLEXBOX  */

.flex-container { 
    height: 120px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  
.flex-items{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    border: 1px solid black;
  }

  .home-three-block h2{
    color: var(--button-title-color);
    font-size: 20px;
    text-align: left;
    position: relative;
    margin-top: 30px;
    margin-left: 130px;    
  }

  .home-three-block h3{
    color: #130353;
    max-width: 380px;
    font-size: 30px;
    text-align: left;
    position: relative;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-left: 130px;
}

.home-three-block p{
    margin-top: 20px;
    margin-left: 130px;
    color: #010235;
    max-width: 350px;
    font-size: 15px;
    text-align: left;
}

.flex-container-six {
     height: 280px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  .flex-container-.flex-container-six {
	background-color:#e2ceffa8;
    transition: 0.5s;
    z-index: 5;
}
.flex-container-six:active {
	position:relative;
	top:1px;
}
.flex-home-one{
    margin-left: 80px;
    margin-top: 20px;
    float: left;
    background-color: var(--button-title-color);
    border-radius:29px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:18px;
    padding:13px 56px;
    text-decoration:none;
}
.flex-home-one:hover {
    transition: 0.5s;
    z-index: 5;
	background-color:#010235;
}
.flex-home-one:active {
	position:relative;
	top:1px;
}
 











        




